# Source: https://devopscube.com/persistent-volume-google-kubernetes-engine/
# This declares a Persistent Volume that uses a Storage Class: StorageClass -> PersistentVolumeClaim -> Volume in Pod
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: database-storage
spec:
  storageClassName: gold
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi